<% include('../util/getCoords') %>

<form hx-post="/stores-map" hx-target="this" hx-swap="outerHTML" hx-trigger="change from:select[name=name]">
    <select name="name">
        <%
        [ "Ordina", "KPN", "Codestar" ].forEach(option => {
            const selected = data.name === option.toLowerCase() ? "selected" : "";
            %><option value="<%=option.toLowerCase() %>" <%=selected %>><%= option %></option><%
        })
        %>
    </select>

    <!-- <button class="btn">Submit</button> -->

    <leaflet-map
        x="<%= getCoords(data.name).x %>"
        y="<%= getCoords(data.name).y %>"
    />
</form>
